.HamburgerContainer {
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    position: absolute !important;
    right: 0px;
    top: 60px;
}

@media (min-width: 768px) {
    .HamburgerContainer {
        display: none;
    }
}

.Hamburger {
    width: 24px;
    height: 2px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    transition: .5s;
    background-color: #4A4A4A;
}

.Hamburger:before,
.Hamburger:after {
    content: '';
    width: 24px;
    height: 2px;
    background-color: #4A4A4A;
    transition: 0.5s;
    position: absolute;
}

.Hamburger:before {
    top: 8px
}

.Hamburger:after {
    top: -8px
}

.HamburgerContainer.Active .Hamburger {
    background-color: transparent;
}

.HamburgerContainer.Active .Hamburger:before {
    top: 0;
    transform: rotate(45deg);
}

.HamburgerContainer.Active .Hamburger:after {
    top: 0;
    transform: rotate(135deg);
}
