
.LogoImage {
    max-width: 310px;
    display: flex;
    align-items: center;
}

@media (max-width: 767px) {

    .LogoImage {
        max-width: 220px;
    }
}

@media (max-width: 575px) {

    .LogoImage {
        max-width: 180px;
        margin-bottom: 20px;
    }
}
