.HowItWorks {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 ;
}

@media (max-width: 767px) {
    .HowItWorks {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.ServiceList {
    margin-bottom: 10px;
}

.ServiceList li {
    display: flex;
}

.ServiceList li img {
    margin-right: 10px;
}

@media (min-width: 768px) {
    .ServiceList {
        display: flex;
        justify-content: space-between;
        max-width: 900px;
        margin-bottom: 20px;
    }

}

.DefinitionsTab {
    padding: 10px;
}


@media (min-width: 768px) {
    .TabItemList {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
        padding: 20px 10px;
        border-bottom: 2px solid #1689DF;
        cursor: pointer;
        line-height: 1;
    }

    .TabItemList.Active, .TabItemList.Active:hover {
        color: white;
        background-color: #1689DF;
    }

    .TabItemList:hover {
        background-color: rgb(230, 230, 230);
    }
}

@media (max-width: 767px) {
    .MobileTabTitle {
        color: white;
        background-color: #1689DF;
        padding:10px;
        text-align: center;
        cursor: pointer;
    }

    .MobileTabWrapper {
        border: 1px solid #1689DF;
        width: 100%;
    }

    .MobileTabContent {
        padding: 20px;
    }
}



@media (min-width: 768px) {
    .MoreInfoWrapper {
        display: flex;
        justify-content: space-between;
    }

    .MoreInfoItem {
        flex-basis: 32%;
        max-height: 240px !important;
    }

    .Horaire {
        font-size: 1.1rem
    }
}

@media (min-width: 992px) {
    .Horaire {
        font-size: 1.2rem
    }
}

@media (max-width: 992px) and (min-width: 768px) {
    .PhoneNumberInfo {
        font-size: 1.5rem;
    }
}

.MoreInfoItemTitle {
    background: rgb(239, 241, 245);
    color: #1689DF;
    padding: 14px 24px;
}

/* WHY US */
.CheckIcon {
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-top: 2px;
    background-color: #4cae4c;
    border-radius: 50%;
    margin-right: 4px;
    margin-bottom: 0;
}

.WhyItemTitle {
    display: flex;

}

.SideImageWhyUs {
    background-size: cover;
    background-position: left;
    min-height: 300px;
}

.SideImageTherapies {
    background-size: cover;
    background-position: left;
    min-height: 500px;
}

.SideContentWrapper {
    max-width: 1170px;
    padding: 40px 20px;
    margin: auto;
}

@media (max-width: 767px) {
    .SideImageTherapies {
        width: 100%;
        min-height: 300px;
    }

    .TherapieIndividuelle {
        min-height: 240px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 40px;
    }

    .TherapieCoupleWrapper {
        display: flex;
        flex-direction: column-reverse;
    }

    .TherapieCouple {
        min-height: 240px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .PsychoeducationWrapper {
        display: flex;
        flex-direction: column-reverse;
    }
}


@media (min-width: 768px) {
    .SideImageWrapper {
        display: flex;

    }

    .SideContentWrapper {
        flex-basis: 50%;
        padding: 40px;
    }
    .SideImageTherapies {
        width: 50%;
    }

    .SideImageWhyUs {
        width: 50%;
    }

}


/* How to get started */

.GetStartedWrapper {
    text-align: center;
}

.GetStartedItem {
    padding-bottom: 20px;
}

@media (min-width: 768px) {
    .GetStartedWrapper {
        display: flex;
        justify-content: space-between;
    }

    .GetStartedItem {
        flex-basis: calc(100%/3);
        padding: 10px;
    }
}

/* Benefits */

.BenefitsImage {
    background-size: cover;
    background-position: left;
    min-height: 240px;
}

@media (min-width: 768px) {
    .BenefitsWrapper {
        display: flex;
    }

    .BenefitsImage {
        flex-basis: 50%;
        min-height: 300px;
    }

    .BenefitsTextWrapper {
        flex-basis: 50%;
    }
}


/*Get started*/
.AGetStarted {

}