:root {
  --link-color: #1689DF;
  --link-color-hover: #004c92;
  --primary-color: #1689DF;
  --primary-color-hover: #004c92;
  --secondary-color: #4cae4c;
  --secondary-color-hover: #398439;
  --action-color: #FF7F00;
    --action-color-hover: #c56300;

}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-color-hover);
}

ul {
  list-style-type: none;
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

img {
  margin-bottom: 0;
}