.AddressBock {
    font-size: 1.2rem;
}

@media (min-width: 768px) {
    .Address, .Cancellation {
        display: flex;
        justify-content: space-between;
    }

    .CancellationItem {
        flex-basis: 48%;
    }

    .AddressBock {
        width: 400px;
    }
    .AddressBockMap {
        flex-grow: 1;
        padding: 20px 0;
    }
}

@media (min-width: 992px) {
    .AddressBock {
        margin-right: 60px;
        font-size: 1.3rem;
    }
    .AddressBockMap {
        padding: 20px 0 20px 40px;
    }
}
