.CallTitle {
    margin: 0;
    color: #878787;
    font-size: 1rem;
}

.PhoneNumber {
    font-size: 1.2rem;
    color: #FF7F00;
}

a.PhoneNumber:hover {
    color: #FF7F00;
    opacity: 0.85;
}

.CallActionHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-end
}

@media (min-width: 768px) {
    .CallTitle {
        font-size: 1.2rem;
    }
    .PhoneNumber {
        font-size: 1.4rem;
    }
}



@media (max-width: 767px) {
    .CallTitle {
        display: none;
    }
}

@media (max-width: 575px) {
    .CallActionHeader {
        display: none;
    }

    .PhoneNumber {
        font-size: 1rem;
    }

    .ReserveOnlineMobile {
        display: none;
    }
}

.HeaderWrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    padding: 15px;
    margin: auto;
}

@media (max-width: 767px)  {
    .HeaderWrapper {
        align-items: center;
    }
}

@media (min-width: 576px) {
    .MobileNav {
        display: none;
    }
}

@media (max-width: 575px) {
    .MobileNavLinks {
        display: none;
    }

    .MobileNavLinks.Active {
        display: flex;
    }

    .HeaderWrapper {
        padding: 10px 15px 0;
    }

}


