.Logos {
    display: flex;
    justify-content: space-between;
    max-width: 767px;
    margin: auto;
}

.Associations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Association {
    max-width: 300px;
    padding: 10px;
}

.Logo {
    max-height: 40px;
    margin: 0;
}


@media (max-width: 575px) {
    .Logos {
        justify-content: center;
        flex-wrap: wrap;
    }
    .Logo {
        max-height: 30px;
        margin: 5px;
    }
}

.Wrapper {
    background: #d9d9d9;
    color: #b2b2b2;
    font-size: 10px;
    text-align: center;
}

