.PopUp {
    position: absolute;
    bottom: 2rem;
    color: #fff;
    background-color: #000;
    font-weight:400;
    width: 240px;
    padding: 5px 10px 8px;
    border-radius: 2px;
    z-index: 1
}

.Tip {
    width: 10px;
    height: 10px;
    position: absolute;
    transform: rotate(45deg);
    bottom: -5px;
    right: 50%;
    background-color: #000;
}